#root {
  margin: 16px;
}

ul {
  display: flex;
  flex-wrap: wrap;
}

li {
  list-style: none;
  margin: 8px;
  padding: 8px;
  border: whitesmoke 3px solid;
  border-radius: 8px;
}

h1 {
  color: rgb(19, 69, 19);
  font-size: 2rem;
}

h2 {
  color: rgb(19, 69, 19);
  font-size: 1.5rem;
}

p {
  color: slateblue;
  font-size: 1rem;
}

.error {
  color: red;
  font-size: 1rem;
}

button {
  color: white;
  background-color: rgb(19, 69, 19);
}